@tailwind base;
@tailwind components;
@tailwind utilities;

svg#hero {
  transition: all 3.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

svg[id*="bg"] g {
  transition: transform 3.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

svg:not(:root) {
  overflow-clip-margin: content-box;
  overflow: hidden;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.section-transition {
  transition: background-color 500ms ease-in-out;
}
